a {
  color: #61dafb;
}

a:hover, a:focus {
  color: #2c88a0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 20px;
  height: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.App-nav li {
  display: block;
  padding: 0 20px;
}

.App-page {
  width: 70%;
  margin: 60px auto;
  min-height: 120vh;
}

.App-page:before {
  content: '';
  display: table;
  clear: both;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
